body, h1, h2, p, .navbar-brand, .modal-title, .btn, .nav-link {
    font-family: 'Montserrat', sans-serif;
  }

.add-task-title, .my-tasks-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600; 
    margin-bottom: 2rem;
  }

.lead {
    font-weight: 400;
}

.modal-header, .modal-body, .modal-footer {
padding: 1rem; 
  }

header {
    border-bottom: 1px solid #eaeaea; 
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-brand img {
    margin-right: 0.5rem;
}

/* Welcome Message Styles */
.lead {
    font-size: 1.1rem;
    color: #6c757d;
}

/* Container and Overall Layout */
.container {
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    border-radius: 0.5rem;
    margin-top: 2rem;
}

.container-fluid {
    border: none;
}

/* Forms and Buttons */
.form-control {
    margin-bottom: .5rem;
    /* Adjust bottom margin for better alignment with the button */
}

.form-select {
    margin-bottom: 1rem;
}

.btn {
    font-weight: bold;
}

.btn-primary {
    font-weight: bold;
    font-size: 1rem;
}

.btn-outline-primary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-primary:hover {
    background-color: #007bff;
    color: white;
}

.btn-outline-secondary,
.btn-outline-danger {
    margin-left: 0.5rem;
}

/* Task List */
.list-group-item {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.2s;
}

.list-group-item:hover {
    background-color: #e2e6ea;
}

.list-group-item-success {
    background-color: #d4edda;
}

.badge {
    background-color: #007bff;
    color: white;
    font-size: 0.8rem;
    padding: 0.25em 0.6em;
    border-radius: 0.2rem;
}

/* Modal */
.modal-content {
    border-radius: 0.3rem;
}

.modal-header,
.modal-body,
.modal-footer {
    padding: 1.5rem;
}

.btn-close {
    filter: none;
}

.footer {
    background-color: #f8f9fa;
    color: #6c757d;
    padding: 1rem 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.footer a {
    color: #007bff;
}

.footer a:hover {
    text-decoration: none;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
      }

    .container {
        padding: 1rem;
    }

    .btn-sm,
    .btn {
        width: 100%;
        margin-top: 0.5rem;
    }

    .d-grid {
        width: 100%;
    }
}